{% extends 'GYM/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <div class="fh5co-loader"></div>

    <div id="fh5co-contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12 animate-box">
                    <h3 class="text-center text-primary">
                        {% if form.non_field_errors %}
                            <div class="myerrors">
                                {{ form.non_field_errors.as_text }}
                            </div>
                        {% endif %}
                        ورود آنلاین در فیتنس پلاس
                    </h3>
                    <form method="post" class="myForm">{% csrf_token %}
                        <div class="row form-group">
                            <div class="col-md-6">
                                <label for="fname"> رمز عبور</label>
                                {{ form.password | attr:"type:password" | attr:"class:form-control" | attr:"id:phone" | attr:"required"|attr:"placeholder:تکرار رمز عبور" }}
                            </div>
                            <div class="col-md-6">
                                <label for="fname">نام کاربری (به انگلیسی)</label>
                                {{ form.username | attr:"type:text" | attr:"class:form-control" |attr:"placeholder:  نام کاربری برای عضویت در سایت" }}
                            </div>

                        </div>
                </div>
                <div class="col-md-8">
                    <h3 class="bg-danger text-danger" id="danger-regi">
                        در صورت تمایل برای شرکت در پلان های VIP به صورت حضوری با مربی
                        خود هماهنگی های لازم را انجام دهید ، با تشکر
                    </h3>
                </div>

                <div class="form-group">
                    <button id="btn-submit" class="btn btn-primary">ثبت نام و پرداخت آنلاین</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    </div>
{% endblock %}